<a href="/program-studies" class="btn btn-primary mt-3">Lihat data</a>
<div class="card mt-3">
    <div class="card-header">
        Buat Fakultas
    </div>
    <div class="card-body">
        <%- include('../layouts/partials/alerts') %>
        <form action="/program-studies" method="POST">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <div class="mb-3">
                <label class="form-label">Nama Fakultas</label>
                <select name="faculty" class="form-control">
                    <option value="" selected disabled>Pilih</option>
                    <% facultyList.forEach((val, i) => { %>
                        <option value="<%- val.id %>" <%- post.faculty == val.id ? 'selected' : ''  %>><%- val.name %></option>
                    <% }) %>
                </select>
            </div>
            <div class="mb-3">
                <label class="form-label">Nama Program Studi</label>
                <input type="text" name="name" value="<%- post.name  %>" class="form-control">
            </div>
            <button class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>